* {
   padding: 0;
   margin: 0;
   max-width: 960px;
   max-height: 100%;
   box-sizing: border-box;
   font-size: 100%;
   font-family: Georgia, 'Times New Roman', Times, serif;
   background-color: 033E6B;
}

html, body {
   height: 100%;
   width: 98%;
   margin: 2%;
   padding: 2%;
}

header {
   top: 0px;
   left: 0px;
   background-color: rgb(63, 146, 210);
   padding: 20px;
   margin: 0px;
   max-width: 960px;
   max-height: 200px;
   width: 95%;
   /*position: fixed;*/
   z-index: 1000;
}

article, aside, div {
   display: inline-block;
   min-width: 150px;
   max-width: 600px;
   width: 30%-4px;
   background-color: 3F92D2;
}

h1 { 
   font-size: 44px;
   }

h2 {
   font-size: 34px;
}

h3 {
   font-size: 22px;
}

.BIO {
   border: 2px solid 66A3D2;
}

.education {
   border: 2px solid 66A3D2;
}

table, th, tr, td {
   border: 1px solid white;
}

.work {
}

aside {
   border: 2px solid 66A3D2;
   /*max-width: 400px;
   max-height: 400px;*/
   padding: 5px;
   margin: 2px;
   /*position: relative;*/
   display: inline-block;
   
}